// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('splash/06.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  position:relative;
}

#greeter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.splashHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 64px;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
}

#header-logo {
  padding-left: 24px;
  min-width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

#search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 90px;
  margin-right: 90px;
}

.magnifier {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 40px;
  height: 33px;
  text-align: right;
  color: rgb(83, 83, 83);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px 0px 0px 3px;
}

#searchBar {
  width: 100%;
  height: 31px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0px 3px 3px 0px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: rgb(83, 83, 83);
  font-size: 12.5px;
}

#searchBar:focus {
  background-color: rgba(255, 255, 255, 1);
  transition: 0.25s;
  border: none;
}

#userAuth {
  min-width: 194px;
  align-self: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
}

#greeter #login {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding-right: 24px;
}

.signup {
  width: 97px;
  height: 32px;
  border: none;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13.5px;
  background-color: white;
}

#greeter .signup:hover {
  color: grey;
  transition: 0.25s;
}

#splashText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; // need to set relative height
}

.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 45px;
  height: 100%;
  margin-bottom: 32px;
}

#splashText h1 {
  font-size: 45px;
  padding-bottom: 30px;
}

#splashText h2 {
  font-size: 25px;
  padding-bottom: 15px;
}

#splashText .signup {
  width: 200px;
  height: 64px;
  border: none;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  padding-left: 0px;
}

#splashText .signup:hover {
  color: grey;
  transition: 0.30s;
}

.splashFooter {
  align-self: flex-end;
  background-color: black;
  width: 100%;
  min-height: 52px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}

.splashFooter ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  height: 100%;
}

.splashFooter ul li {
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}

